
# Created by https://www.gitignore.io/api/jekyll

### Jekyll ###
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata


# End of https://www.gitignore.io/api/jekyll

# Created by https://www.gitignore.io/api/vagrant

### Vagrant ###
# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
# *.logs

### Vagrant Patch ###
*.box


# End of https://www.gitignore.io/api/vagrant
